<ion-view hide-nav-bar="true" class="orb-view">
 	<body>
	  <ion-content>
	    <!-- <ion-item><p>lon: {{coordinates.lon}} </p></ion-item>
	    <ion-item><p>lat: {{coordinates.lat}} </p></ion-item>
	    <ion-item><p>compass: {{compass}} </p></ion-item> -->
	    <p>lat: {{coordinates.lat}} </p>
	    <p>lon: {{coordinates.lon}} </p>
	    <p>compass: {{compass}} </p>
	  </ion-content>
	  <canvas id="myCanvas"></canvas>
	  <div class="centered">
	  	<img src="img/arrow.png">
	  </div>
    </body>
</ion-view>
